@use "base/variables";
@use "base/mixins";

.header {
    background-color: variables.$verde;
    z-index: 9999;
    @include mixins.tablet{
        position: fixed;
        width: 100%;
        &.fijo{
            position: fixed;
            width: 100%;
            box-shadow: .2rem .1rem .1rem #666;
        }
    }
    
    h1 {
        color: variables.$blanco;
        text-align: center;
        margin-bottom: 2rem;
        @include mixins.tablet{
            margin-bottom: 1rem;
        }
    }

    .contenido-header{
        padding: 2rem;
        @include mixins.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.navegacion-principal{
    @include mixins.tablet { 
        display: flex;
        gap: 2rem;
    }
    a{
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2.4rem;
        color: variables.$blanco;
        @include mixins.tablet{
            margin: 0;
        }

        &:hover{
            color: variables.$amarillo;
        }
    }
}